body {
font-family : 'Open Sans', sans-serif;
padding : 0;
margin : 0;
background-color : #f4f4f4;
width : 100%;
height : 100%;
}
p {
font-family : 'Open Sans', sans-serif;
font-size : 1.2em;
font-weight : 400;
}
::selection {
background-color : #E2008E;
color : #ffffff;
}
h1 {
font-family : 'Raleway', sans-serif;
font-weight : 900;
}
h2 {
font-family : 'Raleway', sans-serif;
font-weight : 900;
}
h3 {
font-family : 'Raleway', sans-serif;
font-weight : 600;
font-size : 1.8em;
}
h5 {
font-family : 'Open Sans', sans-serif;
font-size : 1em;
font-weight : 400;
}
.container {
width : 80%;
margin : auto;
overflow : hidden;
}
ul {
margin : 0;
padding : 0;
}
.button_1 {
height : 38px;
background : #f9f104;
border : 0;
padding-left : 20px;
padding-right : 20px;
color : #35424a;
cursor : pointer;
}
.button_1:hover {
color : #f9f104;
background-color : #1e283e;
cursor : pointer;
transition : background-color 2s ease-out;
}
.dark {
background : #35424a;
color : #ffffff;
margin-top : 10px;
margin-bottom : 10px;
text-align : center;
}
header {
background : #1e283e;
color : #ffffff;
padding-top : 30px;
min-height : 70px;
border-bottom : 3px solid #f9f104;
}
header a {
color : #ffffff;
text-decoration : none;
text-transform : uppercase;
font-size : 16px;
}
header li {
float : left;
display : inline;
padding : 0 20px 0 20px;
}
header #branding {
width : 100px;
margin-top : -30px;
position : absolute;
background-color : #f9f104;
padding : 20px;
float : left;
box-shadow : 3px 3px 5px grey;
}
header #branding h1 {
margin : 0;
}
header nav {
float : right;
}
header .highlight {
color : #e8491d;
font-weight : bold;
}
.videoWrapper {
position : relative;
padding-bottom : 56.25%;
padding-top : 25px;
height : 0;
}
.videoWrapper iframe {
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
}
.vid {
margin-top : 30px;
margin-bottom : 30px;
}
#showcase {
min-height : 400px;
background : url('../media/gym.jpg') 0 no-repeat;
text-align : center;
color : #ffffff;
}
#showcase h1 {
margin-top : 100px;
text-shadow : 0 0 3px #FF0000, 0 0 5px #0000FF;
font-size : 3.5em;
margin-bottom : 10px;
color : #f4f4f4;
}
#showcase p {
font-size : 20px;
}
#showcase2 {
min-height : 400px;
background: url(../img/Olsztyn.jpg) 0 no-repeat;
text-align : center;
color : #ffffff;
}
#showcase2 h1 {
margin-top : 130px;
font-size : 3.5em;
margin-bottom : 10px;
color : black;
opacity : 0.60000002384185791015625;
}
#newsletter {
padding : 15px;
color : #ffffff;
background : #1e283e;
}
#newsletter h1 {
font-family : 'Raleway', sans-serif;
float : left;
font-weight : 500;
}
#newsletter form {
float : right;
margin-top : 15px;
}
#newsletter input[type="email"] {
padding : 4px;
height : 25px;
width : 250px;
}
#boxes {
margin-top : 20px;
}
#boxes h2 {
font-size : 3em;
text-align : center;
color : #1e283e;
}
#boxes .box {
float : left;
text-align : center;
width : 30%;
padding : 10px;
}
#boxes .box img {
width : 150px;
}
#boxes .box img.wieksze {
width : 500px;
}
.responsive-image {
max-width : 100%;
}
.cell {
margin : 1rem;
text-align : center;
	position: relative;
}
.cell img {
display : block;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.cell:hover .overlay {
	opacity: 1;
}

.overlay_top {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
}

.cell:hover .overlay_top {
	bottom: 0;
	height: 100%;
}

.overlay_bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.cell:hover .overlay_bottom {
	height: 100%;
}

.overlay_left {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.cell:hover .overlay_left {
	width: 100%;
}

.overlay_right {
	position: absolute;
	bottom: 0;
	left: 100%;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.cell:hover .overlay_right {
	width: 100%;
	left: 0;
}

.text_img {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

aside#sidebar {
float : right;
width : 30%;
margin-top : 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea {
width : 90%;
padding : 5px;
}
aside#sidebar .dark > img {
margin : 0 10%;
width : 80%;
border-radius : 100%;
height : auto;
transition-duration : 4s;
}
aside#sidebar .dark > img:hover {
margin : 2px;
width : 95%;
}
aside#sidebar h3 {
font-size : 1.234em;
}
aside#sidebar .pasek {
box-sizing : border-box;
width : 100%;
background-color : #f9f104;
padding : 0.5px;
color : #1e283e;
line-height : 1px;
margin-bottom : 15px;
min-height : 10px;
}
aside#sidebar .dark > dl {
margin-left : 45%;
text-align : left;
}
.tg {
border-collapse : collapse;
border-spacing : 0;
border-color : #ccc;
}
.tg td {
font-family : Arial, sans-serif;
font-size : 14px;
padding : 10px 5px;
border-style : solid;
border-width : 0;
overflow : hidden;
word-break : normal;
border-color : #ccc;
color : #333;
background-color : #fff;
border-top-width : 1px;
border-bottom-width : 1px;
}
.tg th {
font-family : Arial, sans-serif;
font-size : 14px;
font-weight : normal;
padding : 10px 5px;
border-style : solid;
border-width : 0;
overflow : hidden;
word-break : normal;
border-color : #ccc;
color : #333;
background-color : #f0f0f0;
border-top-width : 1px;
border-bottom-width : 1px;
}
.tg .tg-baqh {
text-align : center;
vertical-align : top;
}
.tg .tg-9hbo {
font-weight : bold;
vertical-align : top;
}
.tg .tg-dzk6 {
background-color : #f9f9f9;
text-align : center;
vertical-align : top;
}
.tg .tg-amwm {
font-weight : bold;
text-align : center;
vertical-align : top;
}
.social-icons {
width : 80%;
background : #35424a !important ;
padding : 0;
margin : auto;
list-style-type : none;
}
.odstep1 {
padding : 20px;
}
.odstep {
margin : 30px 0 30px 0;
}
article#main-col {
float : left;
width : 65%;
}
article#main-col > img {
max-width : 96%;
height : auto;
}
article#main-col > p {
text-align : left;
}
#main{
	margin-top: 50px;
}
.page-title {
font-size : 4em;
font-family : 'Raleway', sans-serif;
font-weight : 800;
font-style : normal;
}
.large {
font-size : 1.34em;
font-family : 'Open Sans', sans-serif;
font-weight : 600;
text-align : left;
}
.full {
width : 100%;
}
ul.services li {
list-style : none;
padding : 20px;
border : #cccccc solid 1px;
margin-bottom : 5px;
background : #e6e6e6;
}
ul.services li span {
background-color : #E2008E;
color : #ffffff;
font-size : 1.4em;
}
span {
background-color : #E2008E;
color : #ffffff;
font-size : 1.4em;
}
#parallax {
background : url('../media/lee.jpg') center no-repeat;
background-size : cover;
background-attachment : fixed;
min-height : 400px;
text-align : center;
color : #ffffff;
}
#parallax h3 {
margin-top : 100px;
color : #ffffff;
text-shadow : 3px 3px black;
font-size : 2.5em;
margin-bottom : 10px;
}
#parallax .inline {
font-size : 20px;
font-style : italic;
padding : 5px;
background-color : #272d3d;
opacity : 0.800000011920928955078125;
}
#offer {
overflow : hidden;
background-color : white;
color : white;
}
#offer .half_1 {
box-sizing : border-box;
width : 50%;
margin : 0;
padding : 0;
float : left;
overflow : hidden;
text-align : right;
padding-right : 100px;
padding-bottom : 0;
height : 495px;
position : relative;
}
#offer .imagenko {
width : 500px;
position : absolute;
bottom : 0;
right : 50px;
overflow : hidden;
}
#offer .imagenko img {
padding : 0;
margin : 0;
width : 500px;
height : auto;
float : right;
margin-bottom : -10px;
}
#offer .half_2 {
box-sizing : border-box;
width : 25%;
background-color : #0b1011;
margin : 0;
overflow : hidden;
position : static;
text-align : left;
padding-left : 50px;
text-align : left;
height : 495px;
}
#offer hr {
height : 2px;
background-color : white;
margin-top : -20px;
margin-bottom : 20px;
}
#offer .half_2 h2 {
font-size : 3em;
}
#offer .half_2 ul {
font-size : 1.5em;
line-height : 2em;
padding-left : 100px;
list-style-image : url('../media/checked.png');
}
.half_11 {
box-sizing : border-box;
width : 30%;
margin : 0;
padding : 0;
float : left;
overflow : hidden;
text-align : center;
padding-bottom : 0;
position : relative;
}
.half_11 > img {
width : 80%;
}
.half_22 {
box-sizing : border-box;
width : 70%;
margin : 0;
overflow : hidden;
position : static;
text-align : left;
line-height : 1.3;
}
.half_22 > h3 {
text-align : center;
}
address {
padding : 10% 0 10%;
text-align : center;
text-decoration : none;
}
address > a {
text-decoration : none;
color : yellow;
}
footer {
box-sizing : border-box;
width : 100%;
padding : 20px;
color : #ffffff;
background-color : #e8491d;
text-align : center;
}
.box > input, .box > textarea {
width : 90%;
padding : 5px;
margin-bottom : 5px;
background-color : #f4f4f4;
font-family : 'Open Sans', sans-serif;
border : none;
border-bottom : 2px solid yellow;
}
address.box_ad {
line-height : 160%;
font-family : 'Open Sans', sans-serif;
font-size : 20px;
font-style : normal;
}
address.box_ad > a {
padding : 5px;
background-color : #E2008E;
color : white;
}
address.box_ad > a:hover {
background-color : #f4f4f4;
color : #E2008E;
transition : background-color 2s ease-out;
}
.icons a {
display : inline-block;
width : 24px;
height : 24px;
margin : 10px;
vertical-align : middle;
}
.icons a.pinterest {
background : url(../img/social-icons/pinterest.png) left top no-repeat;
}
.icons a.linkedin {
background : url(../img/social-icons/linkedin.png) left top no-repeat;
}
.icons a.facebook {
background : url(../img/social-icons/facebook.png) left top no-repeat;
}
.icons a.email {
background : url(../img/social-icons/email.png) left top no-repeat;
}
.icons a.github {
background : url(../img/social-icons/github.png) left top no-repeat;
}
.icons a.behance {
background : url(../img/social-icons/behance.png) left top no-repeat;
}
.icons a.googleplus {
background : url(../img/social-icons/googleplus.png) left top no-repeat;
}
.icons a.google {
background : url(../img/social-icons/google.png) left top no-repeat;
}
.icons a:hover {
background-position : left -34px;
}
.nav {
text-align : right;
height : 70px;
line-height : 70px;
}
.menu {
margin : 0 30px 0 0;
}
.menu a {
padding : 10px;
clear : right;
text-decoration : none;
color : gray;
margin : 0 10px;
line-height : 70px;
}
.menu a:hover {
padding : 10px;
background-color : yellow;
}
span {
color : #54D17A;
}
label {
margin : 0 40px 0 0;
font-size : 26px;
line-height : 70px;
display : none;
width : 26px;
float : right;
}
#toggle {
display : none;
}
.current {
padding : 10px;
background-color : yellow;
}
@media only screen and (max-width:1152px) {
.nav {
height : 100%;
border-bottom : none;
}
label {
display : block;
cursor : pointer;
}
.menu {
text-align : center;
width : 100px;
display : none;
}
.menu a {
display : block;
border-bottom : 1px solid #EAEAEB;
margin : 0;
}
#toggle:checked + .menu {
display : inline-block;
}
#toggle:checked + header {
height : 100%;
}
}
@media (max-width:1450px) {
#offer .half_1 {
width : 50%;
}
#offer .half_2 {
width : 40%;
padding-bottom : 43px;
}
#offer .half_2 h2 {
font-size : 2.765em;
}
.half_11 {
width : 100%;
}
.half_22 {
width : 100%;
}
header #branding {
width : 100px;
}
}
@media (max-width:850px) {
#offer .half_1 {
width : 60%;
}
#offer .half_2 {
width : 40%;
}
#offer .half_2 ul {
line-height : 2em;
padding-left : 70px;
}
#offer .half_2 h2 {
font-size : 2em;
}
.half_11 {
width : 100%;
}
.half_22 {
width : 100%;
}
header #branding {
width : 100px;
}
}
@media (max-width:768px) {
header #branding, header nav, header nav li, #newsletter h1, #newsletter form, #boxes .box, article#main-col, aside#sidebar {
float : none;
text-align : center;
width : 100%;
}
header {
padding-bottom : 10px;
}
header #branding {
width : 100px;
}
#showcase h1 {
margin-top : 80px;
font-size : 2em;
}
#newsletter button, .quote button {
display : block;
width : 100%;
}
#newsletter form input[type="email"], .quote input, .quote textarea {
width : 100%;
margin-bottom : 5px;
}
#offer .half_1 {
display : none;
}
#offer .half_2, #offer .half_2 ul {
width : 100%;
text-align : center;
padding-left : 0;
}
aside#sidebar .dark > dl {
text-align : left;
margin-left : 45%;
}
}
@media screen and (min-width:600px) {
.grid {
display : flex;
flex-wrap : wrap;
flex-direction : row;
}
.cell {
width : calc(50% - 2rem);
}
}
@media screen and (min-width:1000px) {
.cell {
width : calc(33.3333% - 2rem);
}
}
@media only screen and (max-width:400px) {
.nav {
margin-top : 150px;
}
}